*,
::before,
::after {
	transition: background-color 0.2s, color 0.2s;
}

body {
	background-color: var(--background-1);
	color: var(--foreground-1);
	font-family: system-ui, sans-serif;
	font-size: var(--text-base);
	line-height: 1.5;
}

h1 {
	font-size: var(--text-fluid-xl-2xl);
}

h2 {
	font-size: var(--text-fluid-lg-xl);
}

h3 {
	font-size: var(--text-fluid-base-lg);
}

h4 {
	font-size: var(--text-base);
}

a {
	color: var(--foreground-1);
	cursor: default;
	text-underline-offset: 0.125em;
}

a[data-page-current]::after {
	content: " ↜";
}

:is(header, nav) a {
	text-decoration: none;
}

main a {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

a:not(header a, nav a):visited {
	color: oklch(from var(--foreground-3) l c h);
}

main {
	max-width: 60ch;
}

main:last-child {
	margin-bottom: calc(var(--step) * 10);
}

button[data-theme-switch] {
	background-color: transparent;
	border-color: transparent;
	color: inherit;
	border-width: 0;
	line-height: 1;
	padding: 0;
}

button[data-theme-switch] svg {
	width: calc(var(--step) * 5);
	height: calc(var(--step) * 5);
}
