*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

/* Prevent font size inflation on mobile */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

p,
h1,
h2,
h3,
h4 {
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Extra scroll margin for interactions */
:target {
	scroll-margin-block: 5ex;
}
