:where(:root) {
	--foreground-1: var(--gray-900);
	--foreground-2: var(--gray-800);
	--foreground-3: var(--zinc-600);
	--background-1: var(--gray-50);
}

.reverse {
	--foreground-1: var(--gray-50);
	--foreground-2: var(--gray-100);
	--foreground-3: var(--zinc-400);
	--background-1: var(--zinc-900);
}

@media (prefers-color-scheme: dark) {
	:where(:root) {
		--foreground-1: var(--gray-50);
		--foreground-2: var(--gray-100);
		--foreground-3: var(--zinc-400);
		--background-1: var(--zinc-900);
	}

	.reverse {
		--foreground-1: var(--gray-50);
		--foreground-2: var(--gray-100);
		--foreground-3: var(--zinc-600);
		--background-1: var(--zinc-900);
	}
}
