footer {
	--cols: 2;

	background-color: var(--background-1);
	color: var(--foreground-1);
	display: grid;
	grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
	padding-inline: var(--page-space-x);
	padding-block: var(--page-space-y);
	row-gap: calc(var(--step) * 7);
}

@container (width >= 64rem) {
	footer {
		--cols: 5;
	}

	footer > * {
		grid-row: 1;
		justify-self: var(--justify);
	}

	[data-items-end] {
		align-items: flex-end;
	}

	footer [data-col-start-1] {
		grid-column-start: 1;
	}

	footer [data-col-start-5] {
		grid-column-start: 5;
	}
}

footer :is(h3) {
	font-size: var(--text-base);
	color: var(--foreground-3);
	margin-bottom: var(--step);
}
