:where(:root) {
	/* colors */
	--zinc-900: oklch(0.21 0.006 285.885);
	--zinc-600: oklch(44.2% 0.017 285.786);
	--zinc-400: oklch(70.5% 0.015 286.067);
	--gray-900: oklch(21% 0.034 264.665);
	--gray-800: oklch(27.8% 0.033 256.848);
	--gray-600: oklch(44.6% 0.03 256.802);
	--gray-400: oklch(70.7% 0.022 261.325);
	--gray-100: oklch(96.7% 0.003 264.542);
	--gray-50: oklch(98.5% 0.002 247.839);
	/* sizing */
	--step: 0.25rem;
	--size-xs: 28rem;
	--size-sm: 40rem;
	--size-md: 48rem;
	--size-lg: 64rem;
	--size-xl: 80rem;
	--size-2xl: 96rem;
	/* spacing */
	--page-space-x: clamp(0.5rem, 3vw, 2rem);
	--page-space-y: clamp(1.5rem, 3vw, 2rem);
	/* font weights */
	--font-medium: 500;
	--font-semibold: 600;
	--font-bold: 700;
	--font-black: 900;
	/* font-sizes */
	--text-base: calc(var(--step) * 5);
	--text-lg: calc(var(--step) * 6);
	--text-xl: calc(var(--step) * 8);
	--text-2xl: calc(var(--step) * 10);
	--text-fluid-base-lg: clamp(var(--text-base), 4vw, var(--text-lg));
	--text-fluid-lg-xl: clamp(var(--text-lg), 5vw, var(--text-xl));
	--text-fluid-xl-2xl: clamp(var(--text-xl), 6vw, var(--text-2xl));
	--text-fluid-base-2xl: clamp(var(--text-base), 6vw, var(--text-2xl));
}
