<!doctype html>
<html lang="en">
	<head>
		{% include "_includes/meta.html" %}
		<style>
			.cv :is(:is(h1, h2) + p:has([href]), p:has(> strong:only-child)) {
				text-wrap: balance;
			}
		</style>
	</head>
	<body
		class="font-sans"
		style="
				padding-inline: var(--page-space-x);
				margin-block: var(--page-space-y);
			">
		<main class="cv flow text-pretty">
			{% block content %}
				{{ content | safe }}
			{% endblock %}
		</main>
		<hr
			style="margin-block-start: calc(2 * var(--page-space-y)); margin-block-end: var(--page-space-y);" />
		<a href="/">Go back</a>
		<script src="/assets/main.js"></script>
	</body>
</html>
