---
import MainLayout from "../layouts/MainLayout.astro";
import LatestContent from "../components/LatestContent.astro";
---

<MainLayout title="Slava Zakharov">
	<div class="intro | flow | inner-wrapper">
		<h1 class="intro__main"
			>I <span class="highlight">build</span> things in the internet and <span
				class="highlight">learn</span
			> along the way.</h1
		>
		<p class="intro__desc"
			>Hi, my name is Slava. I'm a developer in love with the web, gis,
			outdoors, and writing.</p
		>
		<p class="intro__desc"
			>I'm constantly looking for ways to simplify everything around.</p
		>
	</div>

	<div class="content | switcher">
		<section class="suggestions | inner-wrapper flow">
			<header class="caption">
				<h2 class="caption__title">Latest writing</h2>
			</header>
			<LatestContent collectionName="blog" count={5} />
			<footer class="text-mid">
				<a href="/blog">All writting →</a>
			</footer>
		</section>
		<div class="content__block | inner-wrapper">
			<div class="cta | flow">
				<h2>Would like to work with me?</h2>
				<a href="mailto:slava.zakharov@mailbox.org" class="button" title="Email me" role="button">Email Me</a>
			</div>
		</div>
	</div>
</MainLayout>

<style>
	.intro {
		padding-block: var(--space-3xl);
	}

	.intro__main {
		font-size-adjust: 0.6;
		line-height: 1.2;
	}

	.intro__desc {
		font-size: var(--size-step-2);
		text-wrap: pretty;
	}

	.content > * {
		padding-block: var(--space-xl);
	}

	.content {
		--switcher-vertical-alignment: stretch;
	}

	.content.switcher {
		--gutter: 0;
	}

	.caption__title {
		font-size: var(--size-step-1);
	}

	.suggestions {
		--flow-space: var(--space-l);
	}

	.suggestions footer {
		font-family: var(--font-display);
	}

	.cta {
		border: var(--stroke);
		font-size: var(--size-step-1);
		padding: var(--space-l);
		width: fit-content;
	}

	.intro,
	.content {
		border-block-end: var(--stroke);
	}

	@media (max-width: 67.5rem) {
		.content > * + * {
			border-block-start: var(--stroke);
		}

		.intro {
			padding-block: var(--space-2xl);
		}
	}

	@media (min-width: 67.5rem) {
		.content > * + * {
			border-inline-start: var(--stroke);
		}

		.content__block {
			display: grid;
			place-content: center;
		}
	}
</style>
