---
import "../styles/global.css";
import "../styles/composition.css";
import "../styles/utility.css";
import "../styles/block.css";
import Disclaimer from "../components/Disclaimer.astro";

const {title, locale} = Astro.props;
const lang = locale ? locale : "en";
---

<html {lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="/src/styles/reset.css" />
		<!-- Fonts -->
		<!-- TODO: self-host font -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@75..112.5,100..800&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="page-wrapper">
			<Disclaimer {lang} />
			<main class="main-layout | wrapper">
				<header class="header | inner-wrapper">
					<nav class="nav | repel">
						<div class="logo">
							<a href="/"> Slava Zakharov </a>
						</div>

						<ul class="menu | auto-columns | text-mid" role="list">
							<li><a class="menu__item" href="/">home</a></li>
							<li><a class="menu__item" href="/about">about</a></li>
							<li><a class="menu__item" href="/blog">writing</a></li>
						</ul>
					</nav>
				</header>

				<div class="main">
					<slot />
				</div>

				<footer class="footer | repel | inner-wrapper" data-state="reversed">
					<div class="memo" data-screen="desktop">
						Keep it up <span class="text-narrow">© 23.03.2000-present</span>
					</div>
					<ul class="socials | auto-columns | text-mid" role="list">
						<li
							><a
								class="footer__item"
								href="https://github.com/petyapetr"
								role="link">gh</a
							></li
						>
						<li
							><a
								class="footer__item"
								href="https://www.strava.com/athletes/petyapetr"
								role="link">strava</a
							></li
						>
						<li
							><a
								class="footer__item"
								href="https://bsky.app/profile/beaterpetr.bsky.social"
								role="link">bsky</a
							></li
						>
						<li
							><a class="footer__item" href="mailto:me@slav.no" role="link"
								>email</a
							></li
						>
					</ul>
					<div class="update" data-screen="desktop"
						>Updated: <span class="text-narrow">28 October 2024</span></div
					>
				</footer>
			</main>
		</div>
	</body>
</html>

<style>
	.main-layout {
		display: grid;
		grid-template-rows: max-content 1fr max-content;
	}

	.header,
	.footer {
		font-family: var(--font-display);
	}

	.header,
	.footer {
		line-height: 1.1;
		padding-block: var(--space-s);
	}

	.nav {
		font-size: var(--size-step-1);
	}

	.logo {
		font-weight: 700;
	}

	.logo a {
		text-decoration: none;
	}

	.header {
		border-block-end: var(--stroke);
	}

	.footer {
		border-block-start: var(--stroke);
		margin-block-start: -1px;
	}

	.header,
	.footer {
		background: var(--clr-global-bg);
	}

	@media (min-width: 60rem) {
		.header {
			position: sticky;
			top: 0;
			z-index: 1;
		}
	}

	.page-wrapper:has(> :nth-child(2)) {
		--banner-count: 1;

		display: grid;
		grid-template-rows:
			repeat(var(--banner-count), minmax(min-content, max-content))
			1fr;
		min-height: 100dvh;
	}

	.page-wrapper:has(> :nth-child(3)) {
		--banner-count: 2;
	}
</style>
